---
name: dist

on:
  pull_request:
  push:
    branches:
    - main
    tags:
    - '*'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:

  #
  # Build a wheel
  #

  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        fetch-depth: 0

    - uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - run: pipx run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist

  #
  # Test wheels
  #

  test:
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, macos-11, ubuntu-20.04]
        python_version:
        - '3.6'
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11'
        architecture: [x64]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        fetch-depth: 0
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version }}
        architecture: ${{ matrix.architecture }}

    - name: Download build artifacts
      uses: actions/download-artifact@v4.1.7
      with:
        name: dist
        path: dist

    - name: Install test dependencies
      run: python -m pip --disable-pip-version-check install -r testing-requirements.txt
    
    - name: Test wheel
      shell: bash
      run: |
        cd dist
        python -m pip --disable-pip-version-check install *.whl
        cd ../tests
        pytest .

  publish:
    runs-on: ubuntu-latest
    needs: [test]
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4.1.7
      with:
        name: dist
        path: dist

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
